:root {
  --dark: #273238;
}

.theme-blueberry {
  --blueberry1: #f0f2f4;
  --blueberry2: #e9ebee;
  --blueberry3: #d1d6dc;
  --blueberry4: #6b7a8f;
  --blueberry5: #606e81;
  --blueberry6: #566272;
  --blueberry7: #505c6b;
  --blueberry8: #404956;
  --blueberry9: #303740;
  --blueberry0: #252b32;
}


.theme-yellow {
  --yellow1: #fefbf6;
  --yellow2: #fef9f1;
  --yellow3: #fdf2e2;
  --yellow4: #f7d6a0;
  --yellow5: #dec190;
  --yellow6: #c6ab80;
  --yellow7: #b9a178;
  --yellow8: #948060;
  --yellow9: #6f6048;
  --yellow0: #564b38;

}